* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  background-color: rgb(199, 236, 248);
  justify-content: center;
  font-family: "Nunito", sans-serif;
}
main {
  width: 40%;
  background-color: white;
  height: 50%;
  display: flex;
}

.JudithContainer {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.AhmadContainer {
  width: 50%;
  background-color: red;
  height: 100%;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items:first baseline;
}

p {
    color: grey;
    margin-top: 1rem;
    font-size: 0.7rem;
}

.radiostyle {
  display: inline-block;
  box-sizing: border-box;
  border: 1px solid rgb(148, 146, 146);
  border-radius: 3px;
  padding: 5px;
  margin: 5px;
  width: 15vw;
  font-weight: bold;
}

.radiostyle:has(input[type="radio"]:checked) {
  border-color: #e7d803;
  background-color: #e7d80383;
}

button {
  border: none;
  width: 10vw;
  padding: 10px;
  margin: 2rem;
  border-radius: 20px;
  background-color: #e7d803;
  font-weight: bold;
}

